.cryg p {
  letter-spacing: 0.02em;
  opacity: 0.7;
  margin-bottom: 21px;
}

.crygMiddle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.crygMiddle input {
  background: transparent;
  max-width: 10%;
  border: none;
  color: #fff;
}

.crygMiddle input:focus {
  outline: none;
}

.crygGroup {
  display: flex;
  align-items: center;
}

.crygGroup span {
  font-weight: 600;
  font-size: 1.625rem;
  margin-right: 7.5px;
}

.crygMiddle img {
  margin-right: 6px;
}

.crygAmmount {
  font-weight: 600;
  font-size: 1.625rem;
  margin-right: 7.5px;
}

.crygBottom {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
}

@media (max-width: 800px) {
  .cryg p {
    font-size: 0.75rem;
  }
  .crygMiddle span {
    font-size: 1rem;
  }
  .crygMiddle input {
    font-size: 1rem;
  }
  .crygBottom span {
    font-size: 0.75rem;
  }
}
