.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1248px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 18px;
  color: #babfc7;
  margin-bottom: 40px;
}

.left {
  padding: 0 16px;
}

.left span {
  white-space: nowrap;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.separator {
  width: 2px;
  height: 26px;
  background-color: #babfc7;
  margin-right: 11px;
  margin-left: 11px;
}
