.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1b38;
}

.footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vh;
  min-width: 60vw;
}

.innerBox {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 18px 12px;
  position: relative;
}
.ellipseOne {
  position: absolute;
  top: 6px;
  left: 24px;
}
.ellipseTwo {
  position: absolute;
  top: 6px;
  left: 24px;
}
.ellipseThree {
  position: absolute;
  top: 6px;
  left: 24px;
}
.ellipseFour {
  position: absolute;
  top: 6px;
  left: 24px;
}
.ellipseFive {
  position: absolute;
  top: 6px;
  left: 24px;
}

@media (max-width: 800px) {
  .footer {
    max-width: 100%;
    min-width: 90%;
    display: flex;
    justify-content: center;
  }
  .footer nav {
    min-width: 100%;
    justify-content: space-between;
  }
}
