* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: -webkit-fit-available;
}

body {
  max-width: 100vw;
  height: 100vh;
  height: -webkit-fit-available;
  overflow-x: hidden;
  background-color: #19172f;
  color: #fff;
  position: relative;
  font-family: var(--poppins-font);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 140%;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

button:hover {
  filter: brightness(120%);
}

a:focus,
a:hover {
  outline-style: none;
  color: #40a5f3;
}

.container {
  max-width: 1248px;
  min-height: 84vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0 auto;
}

.hidden {
  display: none;
}

.expand {
  transform: rotate(180deg);
}

@media (min-height: 740px) {
  .container {
    min-height: 79vh;
  }
}
@media (min-height: 800px) {
  .container {
    min-height: 80.8vh;
  }
}
@media (min-height: 844px) {
  .container {
    min-height: 81.8vh;
  }
}
@media (min-height: 870px) {
  .container {
    min-height: 83vh;
  }
}
@media (min-height: 896px) {
  .container {
    min-height: 82.9vh;
  }
}
@media (min-height: 900px) {
  .container {
    min-height: 83.2vh;
  }
}
@media (min-height: 946px) {
  .container {
    min-height: 83.8vh;
  }
}

@media (min-height: 970px) {
  .container {
    min-height: 85vh;
  }
}
@media (min-height: 1100px) {
  .container {
    min-height: 87vh;
  }
}
@media (min-height: 1200px) {
  .container {
    min-height: 89vh;
  }
}
@media (min-height: 1200px) {
  .container {
    min-height: 88.8vh;
  }
}
@media (min-height: 1400px) {
  .container {
    min-height: 90vh;
  }
}
