.wrapper {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-left: 6px;
}

.logoGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.logoGroup span {
  font-weight: 600;
  font-size: 1.25rem;
  display: inline-block;
  vertical-align: middle;
}

.wrapper nav > a {
  font-size: 0.875rem;
  margin-right: 20px;
  line-height: 21px;
  opacity: 0.7;
}

.wrapper nav > a:nth-last-child(-n + 1) {
  margin-right: 0;
}

.wrapper nav > a:focus {
  font-weight: 700;
  color: #40a5f3;
}

@media (max-width: 900px) {
  /* .wrapper span:nth-last-child(-n + 1) {
    display: none;
  } */
  .logoGroup {
    margin-right: 10px;
  }
  .logoGroup span {
    font-size: 1rem;
  }
  .wrapper nav a {
    margin-right: 10px;
  }
}
