.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1b38;
}

.footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 19px 31px;
}

.innerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.footer nav a:focus {
  outline-style: none;
  /* color: #40a5f3; */
  color: #3a3b58;
  filter: brightness(150%);
  fill-rule: nonzero;
}
