.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1b38;
}

.footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 19px 31px;
}

.innerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.footer nav a:focus,
.footer nav a:hover {
  filter: brightness(150%);
  fill: #40a5f3;
}
