.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 7px;
}

@media (max-width: 800px) {
  .left {
    display: none;
  }
  .wrapper {
    justify-content: center;
  }
  .right {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}
